body {
  margin: 0;
  padding: 0;
}

/* responsive */
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
  }

  .navbar-item {
    margin: 10px 0;
  }
}

@media screen and (max-width: 480px) {
  .navbar-item {
    font-size: 14px;
  }
}

/* Logo */
.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.logo-container img {
  width: 200px;
  height: auto;
}

.navbar {
  background-color: #ff2323;
  padding: 10px 20px;
  color: #fff;
}

/* Navbar */
.navbar {
  background-color: #ff2323;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navbar-link .fas {
  margin-right: 150px;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-arrow {
  margin-left: 5px;
}

.bread-crumb.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-breadCrumb {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-breadCrumb .list-item {
  display: inline-block;
  font-size: 14px;
  color: #555;
}

.list-breadCrumb .list-item.active a {
  font-weight: bold;
}

.list-breadCrumb .list-item a {
  text-decoration: none;
  color: #a7a7a7;
  font-size: 16px;
}

.list-breadCrumb .list-item a:hover {
  color: red;
}

.list-breadCrumb .list-item span {
  color: #999;
  margin: 0 5px;
}

#banner-product-detail .product-heading-title-center {
  color: #777;
}

#banner-product-detail {
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-img-banner {
  padding: 20px;
}

#banner-area {
  margin-left: 20px;
}

.single-img-banner {
  text-align: center;
}

.single-img-banner img {
  width: 100%;
  height: auto;
}

.slider img {
  width: auto;
  height: 100%;
}

.product-heading-title-center {
  font-size: 14px;
}

/* Slider */
.slider {
  width: 80%;
  margin: 0 auto;
}

.slider img {
  width: 100%;
}

#simulasi-kredit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sk-btn-wrapper {
  max-width: 600px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.sk-btn-wrapper h1 {
  margin-bottom: 10px;
}

.sk-btn-wrapper a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sk-btn-wrapper a:hover {
  background-color: #ff0000;
}

.product {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.product-container {
  text-align: center;
}

.product-container h1 {
  color: #333;
  margin-bottom: 30px;
}

.slider {
  width: 40%;
  margin: 0 auto;
}

.slider img {
  width: 50%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-container {
  text-align: center;
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 50%;
}

.accessories {
  position: relative;
}

.accessories .slider {
  margin-bottom: 20px;
}

.accessories-container {
  text-align: center;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slider img {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
}

.table-container {
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tbody tr:hover {
  background-color: #e9e9e9;
}

.dealer-container {
  text-align: center;
}

.dealer-container a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.dealer-container a:hover {
  background-color: red;
}

.recomended-product {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.grid-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.product-info {
  text-align: left;
}

.product-info h1,
.product-info p,
.product-info button {
  margin: 0 0 10px 0;
}

.product-info button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-info button:hover {
  background-color: #ffffff;
}

.lainnya-container {
  text-align: center;
  margin-bottom: 20px;
}

.lainnya-container a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.lainnya-container a:hover {
  background-color: red;
}

#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

.footer-top {
  padding: 20px;
}
.footer-bottom {
  text-align: center;
  background-color: #222;
  padding: 10px;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.wrap-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo-brand-footer {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}
.row-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 100%;
}
.col-grid-30 {
  flex: 1 1 calc(33.333% - 20px);
  margin-bottom: 20px;
}
.wrap-col-footer,
.wrap-newsletter,
.wrap-footAddress {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  margin: 0 10px 20px 10px;
}

.list-footerMenu {
  list-style: none;
  padding: 0;
}
.menus-item .title {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
}
.item-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item-menu li {
  margin-bottom: 5px;
}
.item-menu a {
  color: #ddd;
  text-decoration: none;
}
.item-menu a:hover {
  text-decoration: underline;
}
.tx-white {
  color: #fff;
}
.btn-submit {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.btn-submit:hover {
  background-color: #c00;
}
